*.iml
.gradle/
.kotlin/
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
local.properties

# Kotlin/Native & KMP
*.klib
kotlin-js-store/

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
iosApp/Pods/
iosApp/*.xcworkspace

# Node (web build)
node_modules/
